.city-circle {
  width: 500px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.city-dot {
  width: 100%;
  height: 50px;
  /* removed border-radius */
  background-color: rgb(217, 167, 167);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 14px;
  
/* using overflow-wrap and text-overflow */
/* or using width and percentage */
}

.movie-select option:not([disabled]) {
  color: green;
}
